<div class="row clearfix">
  <div class="col-md-8 column">
    <div class="row clearfix">
      <div class="col-md-6 column">
        <video width="320" height="240" id="remoteVideo" autopaly></video>
      </div>
      <div class="col-md-6 column">
        <video width="320" height="240" id="localVideo" autopaly></video>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <ul style="list-style-type:none">
          <li v-repeat="textMessages">
            <span>{{from}}:</span>
            <br/>{{body}}
            <br/>
          </li>
        </ul>

      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-8 column">
        <textarea id="sendMsg"></textarea>
      </div>
      <div class="col-md-4 column">
        <button id="sendBtn" v-on="click: onSend">send</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 column">
    <ul>
      <li>
        Lorem ipsum dolor sit amet
      </li>
      <li>
        Consectetur adipiscing elit
      </li>
      <li>
        Integer molestie lorem at massa
      </li>
      <li>
        Facilisis in pretium nisl aliquet
      </li>
      <li>
        Nulla volutpat aliquam velit
      </li>
      <li>
        Faucibus porta lacus fringilla vel
      </li>
      <li>
        Aenean sit amet erat nunc
      </li>
      <li>
        Eget porttitor lorem
      </li>
    </ul>
  </div>
</div>
