<style type="text/css">
  .listTitle {
    font-size: 16pt;
    margin-right: 10px;
  }
  .roomItem {
    list-style: none;
  }
</style>
<div class="roomList">
  <span class="listTitle">owner rooms</span>
  <br/>
  <ul>
    <li class="roomItem" v-repeat="roomList">
      <a href="#chat/{{id}}">{{$index}} - {{id}}</a>
    </li>
  </ul>
</div>
<div>
  <input type="text" v-model="callNumber"/>
  <button v-on="click: call">call</button>
</div>
<a href="#create">Create</a><br/>
<a href="#search">Search</a><br/>
<a href="#setting">Setting</a><br/>
